{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>REGISTER PAGE</h1>
    <form method="POST">
        {% csrf_token %}
            <fieldset>
                <legend>JOIN TODAY</legend>
               {{ form|crispy }}
                <button type="submit"> Sign Up</button>
            </fieldset>
            <small>
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            </small>
    </form>

{% endblock content %}


